<% provide(:title, "All Drinks") %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div>
        <ul id="drinks_list">
        </ul>
      </div>
      <%= link_to "Create a new Drink",  new_user_drink_path(current_user), class: "btn btn-sm btn-primary" %>
      <%= link_to "Go Back",  user_path(current_user), class: "btn btn-sm btn-primary" %>
    </section>
  </aside>
</div>

<script>
  $(function() {
    getDrinks("<%= drinks_path %>")
  })
</script>
