<% provide(:title, @drink.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <div id="drink_info">
      </div>

    </section>
    Rate this drink!
    <input id="rating_control" type="text" class="rating" data-size="xs" >
  </aside>
</div>

<script>

  $(function() {
    // this just takes advantage of the JS function we built to show the drink show page via JS
    getDrink("<%= drink_path(@drink) %>")

    //this is from the star_rating library which sets the appearance settings and then 
    // displays the rating number in the stars
    $("#current_rating").rating("refresh", {displayOnly: true, showCaption: false, showClear: false}); // displays uneditable current rating on the screen
    $("#rating_control").rating("refresh", {showCaption: false, showClear: false});

    // rating:change is from the library. It triggers an event when clicked which we handle in the
    // ratings JS fucntion
    
    $("#rating_control").on('rating:change', makeRatingFunc("<%= current_user.id %>", "<%= @drink.id%>"));
  })
</script>