<% provide(:title, @drink.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <div id="drink_info">
      </div>
      <input id="input-id" type="text" class="rating" data-size="xs" >

    </section>
  </aside>
</div>

<script>
  $(function() {
    getDrink("<%= drink_path(@drink) %>")
    $("#input-id").rating();
    $('#input-id').on('rating:change', function(event, value, caption) {
      console.log(value);
      console.log(caption);
    });
  })
</script>