<% provide(:title, @drink.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <div id="drink_info">
      </div>

    </section>
    Rate this drink!
    <input id="rating_control" type="text" class="rating" data-size="xs" >
  </aside>
</div>

<script>
  $(function() {
    getDrink("<%= drink_path(@drink) %>")
    $("#current_rating").rating("refresh", {displayOnly: true, showCaption: false, showClear: false}); // displays uneditable current rating on the screen
    $("#rating_control").rating("refresh", {showCaption: false, showClear: false});
    $("#rating_control").on('rating:change', makeRatingFunc("<%= current_user.id %>", "<%= @drink.id%>"));
  })
</script>