<% provide(:title, @drink.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
      <div id="drink_info">
      </div>

    <%= link_to "Edit this drink?",  edit_user_drink_path(current_user, @drink), class: "btn btn-sm btn-primary" %>
    <%= link_to "Delete this drink?", user_drink_path(current_user, @drink), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-sm btn-primary" %>  
    <%= link_to "Go Back",  :back, class: "btn btn-sm btn-primary" %>

    </section>
  </aside>
</div>

<script>
  $(function() {
    getDrink("<%= user_drink_path(current_user, @drink) %>")
  })
</script>
