<% provide(:title, "Ingredients List") %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

    <h1>Tiki-Tiki Ingredients!</h1>
    <hr>
      <% if ingredients.empty? %>
         <h1>There are no ingredients!</h1>
      <% else %>
        <% ingredients.each do |ing| %>
          <ul>
          <p><strong><%= ing.name.titlecase %></strong></p>
          </ul>
        <% end %>
      <% end %>
      <br>
      <%= link_to "Add a New Ingredient", new_ingredient_path, class: "btn btn-sm btn-primary" %> 
      <%= link_to "Go Back",  user_path(current_user), class: "btn btn-sm btn-primary" %>
    </section>
  </aside>
</div>